soap-crud-client/src/main/resources/wsdl/ConsumeSoapEmployee.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://interfaces.soap.springboot.dicka.com" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="interfaces.soap.springboot.dicka.com" targetNamespace="interfaces.soap.springboot.dicka.com">
    <wsdl:types>
        <xs:schema xmlns:tns="http://interfaces.soap.springboot.dicka.com" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://interfaces.soap.springboot.dicka.com">
            <xs:complexType name="employeeInfo">
                <xs:sequence>
                    <xs:element name="employeeId" type="xs:long"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="department" type="xs:string"/>
                    <xs:element name="phone" type="xs:string"/>
                    <xs:element name="address" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="serviceStatus">
                <xs:sequence>
                    <xs:element name="status" type="xs:string"/>
                    <xs:element name="message" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:element name="addEmployeeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employeeInfo" type="tns:employeeInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                        <xs:element name="employeeInfo" type="tns:employeeInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeByIdRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employeeId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employeeInfo" type="tns:employeeInfo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="updateEmployee">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployeeRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="employeeId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteEmployeeResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="serviceStatus" type="tns:serviceStatus"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getEmployeeByIdRequest">
        <wsdl:part element="sch:getEmployeeByIdRequest" name="getEmployeeByIdRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeRequest">
        <wsdl:part element="sch:deleteEmployeeRequest" name="deleteEmployeeRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addEmployeeRequest">
        <wsdl:part element="sch:addEmployeeRequest" name="addEmployeeRequest"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="deleteEmployeeResponse">
        <wsdl:part element="sch:deleteEmployeeResponse" name="deleteEmployeeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="addEmployeeResponse">
        <wsdl:part element="sch:addEmployeeResponse" name="addEmployeeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:message name="getEmployeeResponse">
        <wsdl:part element="sch:getEmployeeResponse" name="getEmployeeResponse"></wsdl:part>
    </wsdl:message>
    <wsdl:portType name="soapcrudServiceHttp">
        <wsdl:operation name="getEmployeeById">
            <wsdl:input message="tns:getEmployeeByIdRequest" name="getEmployeeByIdRequest"></wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <wsdl:input message="tns:deleteEmployeeRequest" name="deleteEmployeeRequest"></wsdl:input>
            <wsdl:output message="tns:deleteEmployeeResponse" name="deleteEmployeeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <wsdl:input message="tns:addEmployeeRequest" name="addEmployeeRequest"></wsdl:input>
            <wsdl:output message="tns:addEmployeeResponse" name="addEmployeeResponse"></wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <wsdl:output message="tns:getEmployeeResponse" name="getEmployeeResponse"></wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="soapcrudServiceHttpSoap11" type="tns:soapcrudServiceHttp">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getEmployeeById">
            <soap:operation soapAction=""/>
            <wsdl:input name="getEmployeeByIdRequest">
                <soap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="deleteEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="deleteEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="deleteEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addEmployee">
            <soap:operation soapAction=""/>
            <wsdl:input name="addEmployeeRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="addEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getEmployee">
            <soap:operation soapAction=""/>
            <wsdl:output name="getEmployeeResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="soapcrudServiceHttpService">
        <wsdl:port binding="tns:soapcrudServiceHttpSoap11" name="soapcrudServiceHttpSoap11">
            <soap:address location="soapEmployeeService"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>